

.loginBtn{
    height: 38px;
    width: 120px;
    border-radius: 5px;
   background-color: rgb(79, 79, 243);
   border: 0px;
   color: white;
   align-self: center;
   margin-top: 5px;
}
.registerBtn{
    height: 38px;
    width: 120px;
    border-radius: 5px;
   background-color: rgb(34, 139, 34);
   border: 0px;
   color: white;
   align-self: center;
   margin-top: 10px;
}
.loginImage{
    height: 80px;
    width: 200px;
    align-self: center;
    margin-bottom: 10px;
}
.userText{
    text-align: start;
    color: white;
}
.loginBackGround{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.formBackGround{
    background-color: rgba(108, 107, 107, 0.229);
    height: 40vh;
    width: 30vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  
}
.loginInput{
    background-color: rgba(108, 107, 107, 0.229);
    height: 25px;
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 10px;
    color: white;
}
.errorMsg{
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
.successMsg{
    color: green;
    font-size: 14px;
    margin-top: 10px;
}